[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.3.14"
langchain-mistralai = "==0.2.4"
langchain-openai = "==0.3.0"
pydantic = "==2.10.5"
uvicorn = "==0.34.0"
fastapi = "*"
langchain-community = "*"
unstructured = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.12"
