.chatMessage {
    border-style: solid;
    border-color: coral;
    border-width: 2pt;
    border-radius: 5pt;
    list-style-type: none;
}

.human {
    float: right;
}

.ai {
    float: left;
}

.pfp, .text {
    float: left;
}

h1 {
    font-family: sans-serif;
    font-size: medium;
}

